<ntap-filter-buttons></ntap-filter-buttons>

<div class="container"> 
  <div *ngFor="let item of notifications">  
    <div class="list-group">
      <a href="#" [ngClass]="(item.read === true ? unread : read)" (click)="alteraCor(item.id)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ item.title }}</h5>
          <small>{{ item.date }}</small>
        </div>
        <p class="mb-1">{{ item.subtitle }}</p>
      </a>
      <hr>
    </div>
  </div>
</div>

