<div class="row m-1">
  <div class="col-md-6">
    <img class="img-fluid" src="/assets/image-cadastro.png" alt="">
  </div>
  
  <div class="col-md-6">
    <form class="row g-3">
      <div class="col-12">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome">
      </div>
    
      <div class="col-12">
        <label for="escola" class="form-label">Escola</label>
        <input type="text" class="form-control" id="escola">
      </div>
    
      <div class="col-md-6">
        <label for="cargaHoraria" class="form-label">Carga Horária</label>
        <input type="text" class="form-control" id="cargaHoraria" placeholder="ex: 120h">
      </div>
      
      <div class="col-md-6">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Selecione o professor(a)</option>
          <option>Otávio</option>
          <option>Vivian</option>
          <option>Leandro</option>
          <option>Cláudia</option>
        </select>
      </div>
    
      <div class="col-12 mt-4 mb-2">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">Materia é opcional</label>
        </div>
      </div>
      
      <div class="col-12">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Enviar</button>
      </div>
    </form>  
  </div>
  
  
</div>

