  <div class="container">
    <div *ngFor="let item of notifications">  
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true" style="border-radius: 10px;">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ item.title }}</h5>
            <small>{{ item.date }}</small>
          </div>
          <p class="mb-1">{{ item.subtitle }}</p>
          <small style="text-decoration: underline;">{{ item.text }}</small>
        </a>
        <hr>
      </div>
    </div>
  </div>

